body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  background-color: blue;
  overflow: hidden;
  /* display: flex; */
  box-sizing: border-box;
}
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
header{
  max-width: 100%;
  height: 18vh;
  background-color: red;
  flex-shrink: 0;
  display: column;
}
nav{
  height: 40%;
  width: 100%;
  background-color: green;
}
.title{
  height: 60%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'IM Fell English SC', serif;
}
.mainTitle{
  padding-left: 1.2vw;
  font-size: 2em;
}
.subTitle{
  padding-left: 1vw;
  font-size: 1.5em;
}
main{
  flex-grow: 1;
  overflow-y: auto;
}
