@media screen and (max-width: 451px){
  .regMenu{
    display: none;
  }
  .mobileMenu{
    display: inline;
    width: 100%;
    height: 90%;
  }
  header{
    height: 23vh;
  }
  nav{
    height: 35%;
  }
  .menuButton{
    height: 90%;
    width: 100%;
  }
}
